# allow to upload data folder
# data

**idea
**__pycache__

# allow to upload pickle_data folder
# **pickle_data

# allow to upload pickle files
# **.pickle

ModelsPHOG/.idea
__pycache__

# allow to upload log files
# logs

bazel-bin
bazel-genfiles
bazel-out
bazel-phog
bazel-models_phog
bazel-testlogs
bazel-ModelsPHOG

# allow to upload json files (data files for training and testing)
# **.json

# allow to upload requirements / output files
#**.txt
/neural_code_completion/pickle_data/
/neural_code_completion/models/logs/
