data
.idea
code_completion_anonymous/code/.idea
code_completion_anonymous/code/__pycache__
code_completion_anonymous/pickle_data
ModelsPHOG/.idea
__pycache__
logs
bazel-bin
bazel-genfiles
bazel-out
bazel-phog
bazel-models_phog
bazel-testlogs
bazel-ModelsPHOG
*.json
